p,
h2,
img,
h5,
h6 {
    cursor: pointer;
}

.size {
    font-size: 20px;
    line-height: 20px;
    color: #506172;
}

.siz {
    line-height: 17px;
}

.description:hover {
    color: rgb(128, 118, 118);
}

h5:hover {
    color: rgb(63, 60, 60);
}

.image:hover {
    transform: scale(1.1);
    animation: ease-in;
}

.col-md-8 {
    background-color: rgb(233, 233, 233);
    border: 9px olive;
    border-radius: 12px;
}